ENV=.............enter_here=.............
LOG_LEVEL=.............enter_here=.............

MINIO_ENDPOINT=.............enter_here=.............
MINIO_ACCESS_KEY=.............enter_here=.............
MINIO_SECRET_KEY=.............enter_here=.............
MINIO_SECURE=.............enter_here=.............



KAFKA_BOOTSTRAP=.............enter_here=.............
KAFKA_SECURITY_PROTOCOL=.............enter_here=.............

SPARK_MASTER=.............enter_here=.............
SPARK_DRIVER_MEMORY=.............enter_here=.............
SPARK_EXECUTOR_MEMORY=.............enter_here=.............

DELTA_PACKAGE=.............enter_here=.............
KAFKA_PACKAGE=.............enter_here=.............

DQ_MAX_NULL_PERCENT=.............enter_here=.............
DQ_FAIL_ON_ERROR=.............enter_here=.............

TIKI_API_BASE=.............enter_here=.............
CRAWLER_RATE_LIMIT=.............enter_here=.............
CRAWLER_MAX_WORKERS=.............enter_here=.............
CRAWLER_TIMEOUT=.............enter_here=.............